# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# Android
*.apk
*.aab
*.ap_
*.dex
local.properties

# IntelliJ / Android Studio
*.iml
.idea/
*.ipr
*.iws
out/
captures/
.externalNativeBuild/
.cxx/

# Keystore
*.jks
*.keystore
release/

# OS
.DS_Store
Thumbs.db
